<a href="https://colab.research.google.com/github/saransh437/String_Practice/blob/main/Strings_P1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Basic Iteration and Output

In [ ]:
# 1. Print numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

In [ ]:
# 2. Print all even numbers between 1 to 50.
for i in range(1,51):
  if i%2==0:
    print(i)

In [ ]:
# 3. Print all odd numbers between 1 to 50.
for i in range(1,51):
  if i%2!=0:
    print(i)

In [ ]:
# 4. Print numbers from 10 to 1 (reverse order).
for i in range(10,0,-1):
  print(i)

In [ ]:
# Mathematical Operations

In [ ]:
# 1. Print the multiplication table of 5 (from 1 to 10).
for i in range(1,11):
  print(i*5)

In [ ]:
# 2. Take a number input and print its multiplication table up to 10.
a = int(input('Enter a number'))
for i in range(1,11):
  print(i*a)

In [8]:
# 3. Print the sum of first 10 natural numbers.
sum = 0
for i in range(1,11):
  sum = sum+i
print(sum)

55

In [12]:
# 4. Take a number input $n$ and print the sum of numbers from 1 to $n$.
a = int(input('Enter a number:'))
sum=0
for i in range(1,a+1):
  sum = sum + i
print(sum)

Enter a number:10
55

In [ ]:
# 5. Print squares of numbers from 1 to 10.
for i in range(1,11):
  print(i*i)

In [ ]:
# 6. Print cube of each number from 1 to 10.
for i in range(1,11):
  print(i*i*i)

In [16]:
# 7. Print the factorial of a given number using a for loop.
a = int(input('Enter a number'))
fact = 1
for i in range(1,a+1):
  fact = fact*i
print(fact)

Enter a number5
120

In [ ]:
# 8. Take 5 numbers from user and print their total sum.
total = 0

for i in range(5):
    n = int(input("Enter a number: "))
    total += n

print("Total sum =", total)

In [ ]:
# String and Digit Manipulation

In [17]:
# 1. Print all characters of a string one by one in each line.
a = 'hello'
for i in a:
  print(i)

h
e
l
l
o

In [20]:
# 2. Count the number of vowels in a given string using a loop.
count=0
vow = "aeiou"
a=input('Enter a string:')

for i in a:
  if i in vow:
    count = count+1
print(count)

Enter a string:aeiou
5

In [22]:
# 3. Take a number input and count how many digits it has.
a = int(input('Enter a number:'))
i = 0
while a > 0:
    i += 1
    a = a // 10   # integer division

print(i)

Enter a number:3456
4